<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="static/editormd.css" />
<link rel="stylesheet" href="static/editormd.preview.css" />
<link rel="stylesheet" href="static/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="static/katex.min.css">
<div id="app">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group">
            <button class="btn btn-default" @click="minus()"><<上一页</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button v-for="p in blog_pages" @click="emit(p)" v-bind:class="btnstyle(p)">{{p}}</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default" @click="plus()">下一页>></button>
        </div>
    </div>
    <div v-for="blog in blog_list" class="markdown-body editormd-html-preview">
        <h1>{{blog.title}}</h1>
        <h4>{{blog.date}}</h4>
        <span v-html="blog.html"></span>
    </div>
</div>

<script>
    var app = new Vue({
        el:"#app",
        data:{
            all_addrs:[],
            blog_addrs:[],
            blog_html:[],
            blog_per_page: 5,
            slt_page: 0,
            host:"https://www.ximul.tk/"
            },
        methods:{
            get_html: function() {
                var vm = this;
                vm.blog_html=[];
                var promises = [];
                this.blog_addrs.forEach(element => {
                    promises.push(axios.get(this.host+'load_blog_html/'+element))
                });
                axios.all(promises).then(function(results){
                    results.forEach(function(blog_html_data){
                        vm.blog_html.push(blog_html_data.data)
                    })
                });
            }, 
            emit(p){
                this.slt_page = p
            },
            isActive(p){
                return this.slt_page == p
            },
            btnstyle: function(p){
                return{
                    'btn': true,
                    'btn-default': p!=this.slt_page,
                    'btn-info': p==this.slt_page,
                    'active': p==this.slt_page
                }
            },
            minus: function(){
                this.slt_page = Math.max(1, this.slt_page - 1)
            },
            plus: function(){
                this.slt_page = Math.min(this.blog_pages, this.slt_page + 1)
            }
        },
        watch:{
            slt_page: function(newp, oldp){
                this.blog_addrs = this.all_addrs.slice((newp-1)*this.blog_per_page, newp*this.blog_per_page)
                this.get_html()
            }
        },
        created: function(){
            var vm = this
            axios.get(vm.host+'api/get_all_blogs')
            .then(function (response) {
                vm.all_addrs = response.data.sort().reverse()
                vm.slt_page = 1
            })
        },
        computed:{
            blog_pages: function(){
                return Math.ceil(this.all_addrs.length / this.blog_per_page)
            },
            blog_list:function(){
                var list = [];
                for (var i=0; i<this.blog_addrs.length; i++){
                    var detail = this.blog_addrs[i].split("/")
                    var date = detail.slice(0, 3).join("-")
                    var title = detail[3]
                    list.push({
                        "title":title,
                        "date": date,
                        "html": this.blog_html[i]})
                }
                return list;
            }
        }
        
    })
</script>
